<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="margin:150px">
    <header>
      <% include partials/_header%>
    </header>
    <ul>
      <p>Edit your link:</p>
      <a href ="/u/<%=shortURL%>" ><%= `${shortURL} - ${longURL.site}` %></a>
      <p><%= `${longURL.clicks} clicks on this site` %></p>
      <form method="POST" action='/urls/<%= shortURL %>?_method=PUT'>
        <input id="shortURL" type="text" name = "newURL" value = <%= longURL.site %> >
        <button>Edit</button>
      </form>
    </ul>
</body>
</html>